    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .video-landing-text a {
        z-index: 42;
        display: flex;
        font-size: 20px;
        font-family: '911 Porscha Title', 'Jamiroquai', sans-serif;
        color: whitesmoke;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 10% 0;
        min-height: 400px;
        align-items: center;
    }
    
    .video-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
    }
    
    .bg-video-player {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        min-width: 20%;
        min-height: 20%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        filter: opacity(60%);
    }
    
    @media (max-width: 767px) {
        .bg-video-player {
            display: none;
        }
    }
    /*END VIDEO SECTION*/
    
    @media (max-width: 600px) {
        .nav {
            flex-wrap: wrap;
        }
    }
    
    .nav {
        position: fixed;
        justify-content: space-around;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        background: lightcyan;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
        z-index: 10;
    }
    
    #navbar {
        position: fixed;
        font-family: simsun;
        padding: 0 50px;
    }
    
    nav>ul {
        top: 0;
        margin: 0 10px;
        height: 100%;
        display: flex;
        text-align: center;
        list-style: none;
    }
    
    #navbar a {
        text-decoration: none;
        color: black;
    }
    
    #navbar li {
        padding: 40px;
    }
    
    #welcome-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }
    
    #welcome-section h1 {
        font-family: mingliu_hkscs-extb, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: azure;
        transform: scale(2, 0.5);
        /* Equal to scaleX(2) scaleY(0.5) */
        transform-origin: top;
        text-align: center;
        margin-top: 30px;
        padding-bottom: -10%;
    }
    
    #welcome-section p {
        font-family: "simsun", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: azure;
    }
    
    .projects-section h1 {
        font-family: mingliu_hkscs-extb, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transform: scale(2, 0.5);
        /* Equal to scaleX(2) scaleY(0.5) */
        transform-origin: top;
        text-align: center;
        margin: 3em;
        padding-bottom: -10%;
    }
    
    .projects-section p {
        font-family: "simsun", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 3rem;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 6rem;
    }
    
    .projects-section {
        text-align: center;
        padding: 1rem .2rem;
        background: rgba(135, 255, 235, .5);
        height: 300vh;
        margin-top: 2rem;
    }
    
    .projects-section-header {
        max-width: 640px;
        margin: 0 auto 6rem auto;
        border-bottom: 0.2rem solid white;
    }
    
    .project {
        background: rgba(75, 75, 75, 0.1);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        border-radius: 2px;
    }
    
    .code {
        color: gray;
        transition: color 0.3s ease-out;
    }
    
    .project-image {
        width: 100%;
        object-fit: cover;
    }
    
    .project-title {
        font-size: 2rem;
        padding: 2rem 0.5rem;
    }